<body>
    <h1>Congratulation，{{ operation }}Scuessfully\</h1>
    <p>Username:{{username}} </p>
    <p>First Name:{{first_name}}&nbsp&nbsp&nbsp&nbsp&nbspMiddle Name:{{middle_name}}&nbsp&nbsp&nbsp&nbsp&nbspLast Name: {{last_name}}</p>
    <p>Occupation: {{occupation}}&nbsp&nbsp&nbsp&nbsp&nbspPhone Number:{{phone_number}}&nbsp&nbsp&nbsp&nbsp&nbspEmail:{{email}} </p>
    <p>Mail Address:{{mail_address}} </p>

    <a href="http://127.0.0.1:8000/login/">Sign Out</a>
    <a href="http://127.0.0.1:8000/changepassword/{{username}}">Change Password</a>
</body>